.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img{
    width: 38px;
    height: 32px;
}

.header {
    padding: 24px 0;
 }

 





.header-item-info {
    display: flex;
    
}