html,body {
    height: 100%;
}



.header {
    padding: 24px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    
}

.header-logo__img {
    width: 40px;
    height: 40px;
    
}

.header-item a {
    color: gray;
}

.header-item__link {
    color: rgb(156, 153, 153);
    margin: 10px;
}

.footer {
    flex: 0 0 auto;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item__information {
    font-size: 14px;
}

.footer-item__letter-box {
    color: gray;
    margin-top: 10px;
    font-size: 14px;
}

.footer-item__link {
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}

.footer-item__placeholder {
    border: 1px solid gray;
    border-radius: 7px;
    margin-top: 20px;
    width: 260px;
    height: 37px;
    font-size: 14px;
}

.button {
    border: 1px solid purple;
    background-color: purple;
    color: white;
    border-radius: 7px;
    width: 80px;
    height: 37px;
    margin-left: 12px;
    font-size: 14px;
}