.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img{
    width: 38px;
    height: 32px;
}

.header {
    padding: 24px 0;
 }

 .header-item {
    display: flex;
 }

 .header-item p {
    padding: 10px;
    color: grey;
 }


.header-item-info {
    display: flex;
    
}

.header-item-info p {
    padding: 10px;
    color: grey;
}

.product {
    display: flex;
    
}

.product-card {
    display: flex;
    
}

.product-card-img-wrap {
    margin: 20px;
    
}

.product-card-img {
   width: 100%;
   height: auto;
   max-width: 600px;
}

.product-card-img-viewing {
   padding-top: 20px;
   display: flex;

}

.product-card-viewing {
    width: 150px;
   max-width: 150px;
   padding-right: 10px;
}

.product-info {
   
}

.h1 {

}

.product-info-price {
    font-size: 30px;
    margin: 20px;
}

.product-info-discription {
    font-size: 16px;
    color: grey;
    margin: 20px;
}

.color {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.tones {
    display: flex;
    margin-left: 20px;
}

.sphere-black {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}

.sphere-white {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.sphere-grey {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: grey;
}

.buy-botton {
    padding-left: 20px;
    padding-top: 40px;
}

.cart {
    width: 320px;
    height: 50px;
    border: 1px solid  #0071e3;
    border-radius: 20px;
    background: #0071e3;
    color: white;
    font-size: 16px;
}

.intelligence {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px;
}

.h2 {
    padding-top: 60px;
}

.menu {
   padding-top: 20px;
}

.customers-menu-wrap {
    display: flex;
}

.customers-menu-img {
    width: 300px;
    height: 300px;
    padding-right: 10px;
}

.key-bottom {
    padding-top: 10px;
}

.key-bottom {
    
}